.rod {
  flex: 1;
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 16px;
  background: #fafafa;
  min-width: 180px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  transition: border 0.2s, box-shadow 0.2s, background 0.2s;
  position: relative;
}

.selected {
  border: 2px solid #222;
  background: #f0f0f0;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.10);
}

.rodTitle {
  margin-top: 8px;
  text-align: center;
  font-size: 1.05rem;
  font-weight: 500;
}

.rodEmpty {
  color: #bbb;
  font-style: italic;
  font-size: 0.95rem;
  margin-top: 20px;
}

.rodPole {
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  width: 12px;
  height: calc(100% - 45px);
  background: #bbb;
  border-radius: 6px;
  z-index: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.10);
}
